node_modules/
.vitepress/cache/
.vitepress/temp/

.vitepress/.temp
.DS_Store
.env
content/public/projects/**/*.webp
content/public/events/**/*.webp
content/public/images
content/public/covers
content/public/logos
content/public/posters/
dist
