node_modules/
.vitepress/cache/
.vitepress/temp/

.vitepress/.temp
.DS_Store
.env
src/public/projects/**/*.webp
src/public/events/**/*.webp
src/public/images
src/public/covers
src/public/logos
src/public/posters/
dist
